@import "../../uni";

.panel{
  .header{
    display: flex;
    justify-content: space-between;
    .title{
      position: relative;
      font-size: $uni-font-size-base;
      font-weight: bold;
      margin-bottom: $uni-spacing-row-sm;

      &::after{
        content: '';
        position: absolute;
        height: $uni-font-size-sm / 2;
        width: 100%;
        bottom: $uni-spacing-row-sm / 4;
        left: 0;
        opacity: 0.7;
        background-color: $uni-color-primary;
        border-radius: $uni-border-radius-base;
      }
    }
    .extra{
      font-size: $uni-font-size-sm;
      color: $uni-text-color-grey;
    }
  }

  .content{

  }
}
