@import "../../uni";

.store-item{
  display: flex;
  position: relative;
  background-color: $uni-bg-color;
  padding: $uni-spacing-col-lg $uni-spacing-row-lg;
  justify-content:  space-between;
  margin-bottom: $uni-spacing-col-lg;
  border-radius: $uni-border-radius-lg;

  .store-icon{
    .icon{
      width: $uni-img-size-lg * 1.5;
      height: $uni-img-size-lg * 1.5;
    }
    flex-basis: 25%;
  }
  .content{
    align-self: center;
    display: flex;
    margin: 0 $uni-spacing-row-base;
    flex-direction: column;
    .title{
      font-size: $uni-font-size-lg;
      font-weight: bold;
    }

    .desc{
      display: block;
      width: $uni-button-width-base * 3.5;
      font-size: $uni-font-size-sm;
      color: $uni-text-color-grey;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .address-distance{
      display: flex;
      justify-content: space-between;
      .address{
        font-size: $uni-font-size-sm;
        color: $uni-text-color-grey;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .distance{
        font-size: $uni-font-size-sm;
        color: $uni-text-color-grey;
      }

    }



    .valid-period{
      font-size: $uni-font-size-sm;
      color: $uni-text-color-grey;
    }
  }

  .action{
    flex-basis: 30%;
    align-self: center;
    .store-action{
      width:$uni-button-width-base * 1.5;
      height: $uni-button-width-base * 0.6;
      background-color: $uni-color-primary;
      border-radius: $uni-border-radius-lg * 4;
      color: $uni-text-color-inverse;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $uni-font-size-sm;
      &::after{
        border-radius: $uni-border-radius-lg * 8;
      }
    }
  }


}
